{% extends "base.html" %}
{% block title %}Doc Index{% endblock %}
{% block body %}
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Main</li>
              <li class="active"><a href="/">Home</a></li>
              <li class="nav-header">JavaScript</li>
              <li><a href="{{ url_for('eic_rpcjson') }}">YUI RPC-JSON Calls</a></li>
              <li><a href="{{ url_for('yuiasync') }}">YUI Async Calls</a></li>
              <li><a href="http://yuilibrary.com/yui/docs/">YUI3 Docs</a></li>
              <li><a href="http://developer.yahoo.com/yui/2/">YUI2 Docs</a></li>
              <li class="nav-header">Python</li>
              <li><a href="{{ url_for('jsonrpc') }}">JSON RPC</a></li>
              <li><a href="http://docs.python.org/2.7/">Official Python Docs</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <div class="hero-unit">
            <h1>Let there be Docs!</h1>
            <p>This is just a dumping ground for some of the docs that I've written. Hopefully this site can be expanded on, but if not it's the one stop shop for my crazy ideas and examples. (It's also my playground for Apache2.)</p>
          </div>
          <div class="row-fluid">
            <div class="span3">
              <h2>JSON RPC</h2>
              <p>This page has examples of the JSON RPC process through our Python script.</p>
              <p><a class="btn" href="{{ url_for('jsonrpc') }}">Examples &raquo;</a></p>
            </div><!--/span-->
            <div class="span3">
              <h2>YUI Async Example</h2>
              <p>This page contains examples for calls from YUI to a script on the server. It includes both a call to a Python and to a BBx program.</p>
              <p><a class="btn" href="{{ url_for('yuiasync') }}">Examples &raquo;</a></p>
            </div><!--/span-->
            <div class="span3">
              <h2>YUI calls to JSON RPC</h2>
              <p>This page has examples of the YUI calls to the JSON RPC Python script.</p>
              <p><a class="btn" href="{{ url_for('eic_rpcjson') }}">Examples &raquo;</a></p>
            </div><!--/span-->
            <div class="span3">
              <h2>EIC Python Docs</h2>
              <p>These are generated docs from Equity's site packages for Python. This is from test not production which doesn't matter 99.9% of the time.</p>
              <p><a class="btn" href="{{ url_for('epydocs') }}">Epydocs &raquo;</a></p>
            </div><!--/span-->
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->
      <hr>
    </div><!--/.fluid-container-->
{% endblock %}


